<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserStatus</title>
    <link rel="stylesheet" href="style.css">
</head>
<body bgcolor="#F8F9F9 ">
    <form>
       <div class="page-title" align ="Center">Account Management System</div><br><br>
       <img src="../ams.jpeg" alt="ams icon" width="192" height="185"><br><br>
       <div class="container" align = "Center">
        <p><b>User Registered successfully!</b></p>
        <p>Please use your credentials to login to the system! </p>
        <p><a href="login">Login</p>
        <!-- <p><a href="userlogin">Login</p> -->
        </div>
    </form>
    
</body>
</html>